@font-face {
    font-family: "vt220";
    src: url("vt220.ttf") format("truetype");
}
body {
	background: #000;
	font-size: 20px;
	font-family: "vt220";
	line-height: 30px;
	color: #008800;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
  	list-style-position: outside;
  	text-transform: uppercase;
  	display: block;
}
a {
	color: #66ff00;
	text-shadow: 2px 0 0 black;
	text-decoration: none;
	-moz-transition: text-shadow 0.15s ease-in-out 0s;
}
p {
        color: #66ff00;
        text-shadow: 2px 0 0 black;
        text-decoration: none;
        -moz-transition: text-shadow 0.15s ease-in-out 0s;
}
a.active,
a:hover {
	text-shadow: 0 0 4px #66ff00, 0 0 8px #66ff00, 0 0 16px #66ff00, 0 0 32px #66ff00;
	border: none;
	outline: none;
}
a:active {
    outline: none;
}
h1 {
	color: #66ff00;
	font-size: 19px;
	font-weight: normal;
	text-transform: uppercase;
}
	h1:before {
		content:"### ";
	}
	h1:after {
		content:" ###";
	}
.cccfr {
	position: relative;
	right: -20px;
	float: right;
}
.logo {
	left: -25px;
	position: relative;
}
header, container {
	width: 800px;
	margin: 0 auto;
	clear: both;
	position: relative;
}
nav {
	width: 200px;
	float: left;
}
.content {
	width: 600px;
	padding-left: 200px;
}

@media (max-width: 800px) {
	
	body {
		padding: 5px;
	}
	
	.cccfr, .logo{
		left: 0;
		right: 0;
		margin: -10px auto -30px auto;
		float: none;
		text-align: center;
		display: block;
	}
	
	nav ul li {
		display: inline;
		padding-right: 8px;
	}
	
	nav {
		width: 100%;
	}
	.content {
		padding: 0;
	}
	header, .container {
		width: 100%;
	}

}
